* {
    margin: 0px;
    padding: 0px
}

body {
    font-family: consolas, Helvetica, sans-serif;
    color: #ffffff;
    background-color: #EAC324;
    font-size: 11px;
    margin: 24px;
}

h1 {
    margin-bottom: 24px;
}

h2 {
    width: 300px;
}

a {
    display: inline-block;
    margin-top: 20px;
    color: #875500;
    text-decoration: none;
    text-transform: uppercase;
    transition: ease-in-out 0.5s;
}

a:hover {
    color: #00271F;
    text-decoration: underline;
}
