* {
    margin: 0px;
    padding: 0px;
}


body {
    margin: auto;
    font-family: consolas, Helvetica, sans-serif;
    font-size: 12px;
    color: #00271F;
    background-color: #EEF2E0;
    line-height: 16px;
}

body, h1, footer {
    width: 800px;
}

header {
    height: 290px;
}

article {
    position: absolute;
    top: 250px;
    padding: 23px 0px 10px 0px;
    background-color: #EAC324;
    color:#ffffff;
    text-align: center;
}

/*my name*/
h1 {
    text-transform: uppercase;
    font-size: 30px;

}

h5 {
    font-style: italic;
    margin-top:5px;
}

section {
    margin-top: 50px;
}

div {
    margin-left: 20px;
    padding: 20px;
    float: left;
    width: 200px;
    background-color: #ffffff;
    border-top: 5px solid #EAC324;

}

/* exercises, studios, project*/
h2 {
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

a {
    color: #EAC324;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #00271F;
    text-decoration: underline;
}

ol, ul {
    padding-left: 20px;
}

ul {
    list-style-type: circle;
}

footer {
    clear: both; /*break from float*/
    position: fixed;
    bottom: 0px;
    height: 20px;
    background-color: #EAC324;
    font-size: 10px;
    text-align: center;
    padding: 10px 0px 2px 0px;
}

footer a {
    color: #875500;
}
