* {
	margin: 0;
	padding: 0;
}

body {
	background: green;
	color: white;
	font-family: 'Roboto', sans-serif;
}

form, p {
	display: inline-block;	
}

form {
	margin-top: 100px;
	margin-left: 25%;
	padding-right: 45px;
}

div {
	margin: 10px;
}

label {
	display: inline-block;
	width: 200px;
	padding-right: 10px;
}

form {
	display: inline-block;
}

input[type="reset"], input[type="submit"] {
	position: relative;
	padding: 5px;
	margin-left: 25px;
}