* {
    margin: 0px;
    padding: 0px;
}


body {
    width: 800px;
    margin: auto;
    font-family: consolas, Helvetica, sans-serif;
    font-size: 12px;
    color: #00271F;
    background-color: #EEF2E0;
    line-height: 16px;
}

header {
    width: 800px;
    height: 250px;
    border-bottom: 5px solid #EAC324;
}

article {
    width: 500px;
    text-align: center;
    margin: auto;
    padding: 10px;
    border-left: 5px solid #EAC324;
    border-right: 5px solid #EAC324;
}

article p {
    font-style: italic;
}

section {
    margin-top: 100px;
}

/*my name*/
h3 {
    text-transform: uppercase;
}

div {
    margin-top: 30px;
    margin-left: 20px;
    padding: 20px;
    float: left;
    width: 200px;
    background-color: #ffffff;
    border-top:5px solid #EAC324;

}

/* exercises, studios, project*/
h2 {
    text-align: center;
    text-transform: uppercase;
    text-decoration: underline;
    padding-bottom: 10px;
}

a {
    color: #EAC324;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #00271F;
    text-decoration: underline;
}

ol, ul {
    padding-left: 20px;
}

ul {
    list-style-type: circle;
}

footer {
    clear: both; /*break from float*/
    position: fixed;
    bottom: 0px;
    width: 800px;
    height: 20px;
    background-color: #EAC324;
    font-size:10px;
    text-align: center;
    padding: 10px 0px 2px 0px;
}

footer a {
    color: #875500;
}
