@charset "UTF-8";

/* CSS Document */
/* #5CFFC4 & #FF02C4 */
/* start all css with a reset */

* {
    margin: 0px;
    padding: 0px;
}

html {
  height:100%;
}

body{
    font-family: 'Montserrat',sans-serif;
    font-size: 12px;
    color: #2C0268;
    background: linear-gradient(120deg, #a1c4fd 0%, #c2e9fb 100%);
    background-repeat: no-repeat;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header, footer {
    text-align: center;
}

header {
  margin-top: 70px;
  margin-bottom: 50px;
  padding: 10px;
  color: #ffffff;
  font-size: 25px;
  animation: fadeIn 2s ease-in-out;
}

main {
  width: 900px;
  margin: auto;
  animation: fadeInStuff 5s ease-in-out;
}

section {
  float:left;
  width: 31%;
  margin: 10px;
  border: 2px solid #ffffff;
  box-sizing: border-box;
  overflow-x:auto;
}

h3 {
  padding: 10px;
  background-color: #ffffff;
}

p {
  position: absolute;
  top:260px;
  left:110px;
  width: 105px;
  padding: 7px;
  background-color: #ffffff;
  font-size: 10px;
  border-radius: 5px;
  opacity: 0;
  transition: all 1s ease-in-out;
}

ul {
  height: 200px;
  padding: 10px;
  font-size: 10px;
}

li {
  list-style: none;
  text-align: center;
  display: inline-block;
  padding: 5px 10px;
  margin: 5px;
  background-color: #8bb0ed;
  color: #ffffff;
  transition: all 0.7s ease-in-out;
}

li:hover, #finish, #close {
  cursor: pointer;
}

#left li:hover {
  background-color: #ffc1d1;
  color: #26021d;
}

.container li {
  cursor: pointer;
}

/* the state when dragged */
.gu-mirror {
  cursor: move;
}

.container .moved {
  background-color: #FABF06;
  color: #26021d;
}

.container .over {
  background-color: blue;
}

img {
  padding: 10px;
  display: block;
  width:225px;
  margin: auto;
  margin-top: 10px;
}

#finish {
  float: right;
  width: 90px;
  margin: 7px 7px;
  padding: 7px;
  background-color: #ffffff;
  font-size: 10px;
  border-radius: 5px;
  text-align:center;
}

#congrats {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: none;
}

#close {
  color: #ffffff;
  font-size: 20px;
  margin-top: 20%;
  text-align: center;
}

h2 {
  margin: auto;
  width: 300px;
  text-align: center;
  font-size: 20px;
  color: #ffffff;
}

/* FOOTER */
footer {
    clear: both; /*break from float*/
    position: fixed;
    bottom: 0px;
    height: 20px;
    width: 100%;
    padding: 10px 0px 2px 0px;
    font-size: 10px;
}

footer a {
    font-family: consolas,'Helvetica', sans-serif;
    text-decoration: none;
    color: #2C0268;
    transition: ease-in-out all 0.5s;
}

a:hover {
    color: #ffffff;
    text-decoration: underline;
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity: 1;}
}

@keyframes fadeInStuff {
  from {opacity: 0;}
  to {opacity: 1;}
}
