body {
  background-color: #8bcad3;
}

header {
  background-color: #386b73;
  position: fixed;
  top: 0%;
  left: 0%;
  right: 0%;
  height: 30px;
}

article {
  background-color: #6eacb5;
  margin: auto;
  width: 800px;
}

h2 {
  font-family: helvetica;
  font-size: 20px;
  color: #386b73;
  position: relative;
  top: 5px;
  left: 5px;
  margin-bottom: 10px;
}

h3 {
  font-family: helvetica;
  font-size: 16px;
  color: #386b73;
  position: relative;
  top: 9px;
  right: 5px;
}

p {
  font-family: helvetica;
  font-size: 12px;
  color: #386b73;
  margin-left: 5px;
  margin-bottom: 5px;
  width: 500px;
}

img {
  width: 280px;
  position: relative;
  right: 5px;
  top: 35px;
}

footer {
  background-color: #386b73;
  position: fixed;
  bottom: 0%;
  left: 0%;
  right: 0%;
  height: 30px;
}

h4 a {
  font-family: helvetica;
  font-size: 15px;
  color: #8bcad3;
  margin: auto;
}
