* {
    margin: 0px;
    padding: 0px
}


body {
    width:600px;
    margin: auto;
    font-family: consolas, Helvetica, sans-serif;
    font-size: 12px;
    color: #00271F;
    background-color: #EEF2E0;
}

header {
    width: 600px;
    height: 180px;
    background-color: #EAC324;
}

#banner {
    background-image: url("images/banner.png");
}

nav {
    position:fixed;
    top: 200px;
    left: 150px;
    width: 150px;
    background-color: #EAC324;
    color: #ffffff;
    padding-bottom: 10px;
    text-align: center;
}

/*NAV*/
h3 {
    padding: 10px 0px;
    border-bottom:2px solid #ffffff;
}

ul {
    list-style-type: none;
    padding: 10px 0px;
    border-bottom:2px solid #ffffff;
}

a {
    color: #875500;
    text-decoration: none;
    text-transform: uppercase;
}

a:hover {
    color: #00271F;
    text-decoration: underline;
}

/*go back to portal*/
#portal {
    font-size: 10px;
    display: inline-block;
    padding-top:10px;
}

main {
    width: 600px;
    margin-bottom: 50px;
}

article {
    width: 500px;
    background-color: #ffffff;
    padding: 20px;
    margin: 20px auto;
    border: 3px double #EAC324;
}

/*title for articles */
h1 {
    text-transform: uppercase;
    font-size: 25px;
}

h4 {
    text-transform: uppercase;
    color: #EAC324;
}

h5 {
    font-style: italic;
}

img {
    float: left;
    margin-top: 20px;
    padding: 0px 20px 10px 0px;
}

section {
    padding-bottom: 5px;
    margin-bottom: 5px;
}

section h1 {
    display: none;
}

p {
    margin-top: 10px;
}

footer {
    clear: both; /*break from float*/
    position: fixed;
    bottom: 0px;
    width: 600px;
    height: 20px;
    background-color: #EAC324;
    font-size:10px;
    text-align: center;
    padding: 10px 0px 2px 0px;
}
