/*stylesheet for portal*/

	

body {
	margin: auto;
	text-align: center;
	font-family: 'Quicksand', sans-serif;
	font-size:75%;
	background-image: url("../images/waves.png");
    background-color: white;
    background-size: 1366px 768px;
    background-repeat: no-repeat;
	
}

h1 {
	color: white;
	font-size: 3em;
}

h2 {
	color: white;
	text-decoration: underline;
}

/* unvisited link */
a:link {
    color: white;
    text-decoration: none;
}

/* visited link */
a:visited {
    color: white;
}

/* mouse over link */
a:hover {
    color: hotpink;
}

/* selected link */
a:active {
    color: blue;
}

.left {
	float: left;
	padding: 25px;
	margin-left: 200px;
	margin-right: 20px;
	
}

.middle {
	float: left;
	padding: 25px;
	margin-left: 50px;
	margin-right: 20px;
}

.right {
	float: left;
	padding: 25px;
	margin-left: 50px;
	margin-right: 20px;
}


ul {
	color: white;
    text-decoration: none;
    list-style-type: none;
    
}

ol {
	color: white;
    text-decoration: none;
    
}

footer {
	clear: both;
	position: fixed;
	bottom: 0;
	border: 3px solid white;
}