
body{
	margin: 100px;
	font-family: 'Padauk', sans-serif;
}
img{
	height: 200px;
}
a{
	color:grey;
}
header{
	width: 800px;
	height: 250px;
	margin: auto;
}

div{
	width: 33%;
	float: left;
}
footer{
	width: 100%;
}