p {
	max-width: 600px;
	margin-left: 300px;
	color:white;
}

body {
	text-align:center;
	margin: auto;
	background-image: url("../images/waves.png");
	font-family: 'Fira Sans Extra Condensed', sans-serif;
	font-size:0.85em;
	background-color: #4391AF;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

h1 {
	color: white;
	font-size: 3em;
}

/* This is the Blog css*/